<h3 class="mega-menu__heading">Women</h3>
<ul>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Dresses</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Tops</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweaters/Knits</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Jackets/Coats</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Blazers</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Denim</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Leggings/Pants</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Skirts/Shorts</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Accessories</a></li>
</ul>
<h3 class="mega-menu__heading">Men</h3>
<ul>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Tees/Tank tops</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Shirts/Polos</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweaters</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweatshirts/Hoodies</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Blazers</a></li>
    <li class="mega-menu__list"><a class="mega-menu__link" href="#">Jackets/vests</a>
    </li>
</ul>