{% load static %}

<div class="mega-flex">
    <h3 class="mega-menu__heading">Women</h3>
    <ul>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Dresses</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Tops</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweaters/Knits</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Jackets/Coats</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Blazers</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Denim</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Leggings/Pants</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Skirts/Shorts</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Accessories</a></li>
    </ul>
</div>
<div class="mega-flex">
    <h3 class="mega-menu__heading">Women</h3>
    <ul>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Dresses</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Tops</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweaters/Knits</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Jackets/Coats</a></li>
    </ul>
    <h3 class="mega-menu__heading second-heading">Women</h3>
    <ul>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Dresses</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Tops</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweaters/Knits</a></li>
    </ul>
</div>
<div class="mega-flex">
    <h3 class="mega-menu__heading">Women</h3>
    <ul>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Dresses</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Tops</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Sweaters/Knits</a></li>
        <li class="mega-menu__list"><a class="mega-menu__link" href="#">Jackets/Coats</a></li>
    </ul>
    <a href="#"><img class="mega-menu__img" src="{% static 'img/sun-glasses-guy.jpg' %}"
                     alt="super sale"></a>
    <p class="mega-menu__img__ad">super sale!</p>
</div>